* {
  box-sizing: border-box;
  margin: none;
  padding: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(67, 11, 67);
}
.container {
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(94, 14, 94);
  box-shadow: 0 0 10px 10px rgb(100, 50, 100);
  padding: 10px;
}
#email:not(:placeholder-shown){
    background-color: white;
    color: black;
}
.right,
.left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.expDisplay {
  padding: 20px;
  text-align: center;
  margin: 15px 5px;
  height: 100px;
  padding: 0;
}
.left h2 {
  color: white;
  font-weight: 800;
  font-size: 28px;
  text-wrap: nowrap;
}
.right h2 {
  color: white;
  font-weight: 800;
  margin: 0 2px;
  padding: 0 5px;
}
.right p {
  color: white;
  font-weight: 600;
}
.parent,
.expDisplay {
  margin: 1rem;
}
input {
  display: block;
  padding: 10px 5px;
  margin: 5px;
  font-size: 17px;
  border-bottom: 4px solid white;
  outline: none;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  text-align: center;
}
input:hover {
  box-shadow: 5px 2px 10px 0 lightblue;
}
button {
  padding: 1rem 0.6rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  background: transparent;
  border: 3px dotted;
}
button:hover{
    border: 3px solid white;
    cursor: pointer;
   
}
.display {
  box-shadow: 0 0 10px rgb(27, 27, 107);
}
.expDisplay {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .container {
    flex-direction: row;
    gap: 1rem;
    width: 600px;
  }
}
